@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-white: #ffffff;
  --color-cream: #f2eae2;
  --color-black: #1c232b;
  --color-grey: #6c7289;
  --color-green-500: #3d8168;
  --color-green-700: #1a4032;
  --border-radius: 0.5rem;
  --heading-font-size: 2rem;
  --font-family-main: "Montserrat";
  --font-family-accent: "Fraunces";
  --transition-duration: 250ms;
  --outline: 0.1875rem solid rgb(255, 188, 63);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-grey);
  background-color: var(--color-cream);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  padding-block: 0.9375rem;
  font-family: var(--font-family-accent);
  font-size: 0.875rem;
  text-align: center;
}

.attribution a {
  color: var(--color-green-500);
}
.attribution a:hover, .attribution a:focus {
  color: var(--color-green-700);
}
.attribution a:focus, .attribution a:focus-visible {
  outline: var(--outline);
  outline-offset: 0.1875rem;
  border-radius: var(--border-radius);
}

.section {
  padding-block: 6.825rem;
}

.container {
  padding-inline: 0.75rem;
}

.product__card {
  width: clamp(21.875rem, 50vw, 25rem);
  background-color: var(--color-white);
  overflow: hidden;
  border-radius: var(--border-radius);
}
@media screen and (min-width: 48rem) {
  .product__card {
    width: 37.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.product__image {
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .product__image {
    height: 100%;
  }
}
.product__body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .product__body {
    row-gap: 2rem;
  }
}
.product__details {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.product__category {
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}
.product__title {
  font-family: var(--font-family-accent), sans-serif;
  font-size: var(--heading-font-size);
  font-weight: 700;
  line-height: 1;
  color: var(--color-black);
}
.product__description {
  line-height: 1.6;
}
.product__price {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-family: var(--font-family-accent);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-green-500);
}
.product__price--crossed-out {
  font-size: 0.8125rem;
  font-family: var(--font-family-main);
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-grey);
  text-decoration: line-through;
}
.product__order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  color: var(--color-white);
  font-weight: 700;
  line-height: 1.1;
}

.button {
  width: 100%;
  padding: 1.125rem 5.5rem;
  background-color: var(--color-green-500);
  border: none;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration);
}
.button:hover, .button:focus {
  background-color: var(--color-green-700);
}
.button:focus, .button:focus-visible {
  outline: var(--outline);
  outline-offset: 0.1875rem;
}
@media screen and (min-width: 48rem) {
  .button {
    padding-inline: 3.9375rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */