body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-grey);
  background-color: var(--color-cream);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
