:root {
  --color-white: #ffffff;
  --color-cream: #f2eae2;
  --color-black: #1c232b;
  --color-grey: #6c7289;
  --color-green-500: #3d8168;
  --color-green-700: #1a4032;
  --border-radius: 0.5rem;
  --heading-font-size: 2rem;
}
